body{
    background-color: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    width: 546px;
    font-size: 56px;
    font-weight: bold;
    color: #75B79E;
    margin: 40px auto 20px auto;
}

.cartas{
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    margin: 0 auto;
}

.carta{
    width: 117px;
    height: 146px;
    margin-top: 34px;
    margin-right: 34px;
    border-radius: 5px;
    background-color: #A7E9AF;
    border: 1px solid #99ceab;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartas img{
    width: 80px;
    height: 80px;
}

.imgescondido{
    display: none;
}